#mac ds store
.DS_Store

# Ignore config files
src/instance/*
!src/instance/*.cfg.example
app.cfg

reload_from_neo4j/reload.properties

# Ignore the generated BUILD file
BUILD

# Ignore the docker mounted BUILD and VERSION
src/BUILD
src/VERSION

# Ignore docker env file
docker/.env

# Ignore copied files
docker/entity-api/src
docker/entity-api/VERSION
docker/entity-api/BUILD

# Ignore backup files created by MySQL Workbench
sql/*.bak

# Ignore __pycache__ directories in any path
**/__pycache__

# log files in any path
**/*.log

# Rotated log files
**/*.log*

.project
.pydevproject

test/*.sh

*~

log/*
!log/README.md

.idea/
